<% var d = new Date(create_time); %>
<% var month_string = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]; %>
<div class="post_block float_clear" id="<%= post_id %>">
	<h2 class="post_title" id="pt_<%= post_id %>">
		<a href="#post-<%= post_id %>"><%= title %></a>
	</h1>
	<div class="post_date float_clear">
			<div style="float:left;margin-top:4px;margin-right:4px;">
				<div class="post_date_month"><%= month_string[d.getMonth()] %></div>
				<div class="post_date_year"><%= d.getFullYear() %></div>
			</div>
			<div rowspan="2" style="float:left;" class="post_date_day"><%= d.getDate() %></div>
		</table>
	</div>
	<div class="post_snippet" id="ps_<%= post_id %>">
		<%= snippet %>
	</div>
	<div class="post_content" id="pco_<%= post_id %>">
	</div>
	<div class="post_block_bottom" id="pbb_<%= post_id %>">
		<div class="post_category" id="pc_<%= post_id %>">
			Category<br><a class="post_category_button" id="pcb_<%= category%>" href="/category/<%= category %>"><%= category %></a>
		</div>
		<div class="post_tags" id="pt_<%= post_id %>">
			Tags<br>
			<% for (i in tags) { %>
				<a class="post_tag_button" id="ptb_<%= tags[i] %>" href="/tag/<%= tags[i] %>"><%= tags[i] %></a>
			<% } %>
		</div>
		<div class="post_comment">Comments<br>
			<div class="post_comment_count">0</div>
		</div>
	</div>
</div>
